pycti==5.9.1
stix-shifter==5.3.1
stix-shifter-utils==5.3.1
stix-shifter-modules-splunk==5.3.1
prometheus-client==0.17.1
cryptography>=41.0.0 # not directly required, pinned by Snyk to avoid a vulnerability